﻿@model IEnumerable<FirstMVCApp.Models.Customers.CustomerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customer</h1>

<p>
    <a asp-action="Create">Create New</a>
    
</p>
<table class="table">
<thead>
<tr>
    <th>
        Имя
    </th>
    <th>
        e-mail
    </th>
    <th>
        Дата рождения
    </th>
    <th></th>
</tr>
</thead>
<tbody>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                
            </tr>
        }
    </tbody>
</table>
